* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.button i {
  color: black;
}
.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}
.image {
  width: 100%;
}

.carousel__track--container {
  background: lightgreen;

  height: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
