* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.carousel {
  position: relative;
  height: 600px;
  width: 70%;
  margin: 25px auto;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track--container {
  background: lightgreen;

  height: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__buttons {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel__button--left {
  left: -40px;
}
.carousel__button--right {
  right: -40px;
}

.carousel__buttons i {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 25%;
  width: 45px;
  height: 7px;
  background: rgb(0, 0, 0, 0.3);
  margin: 8px;
}

.carousel__indicator.current__slide {
  background: rgb(0, 0, 0, 0.9);
}

.footer {
  background-color: #557174;
  display: flex;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.icons {
  margin: auto;
  font-size: 2.5em;
  color: #f7f7e8;
}
.icons i {
  margin: auto;
}
@media (min-width: 768px) {
  .carousel {
    margin-top: 75px;
    width: 80%;
  }
  .footer {
    height: 75px;
  }
  .icons {
    font-size: 3em;
  }
}
